.slideshow {
  overflow-x: auto;
  display: flex;
  width: 90%;
  margin: auto;
}
.slideshow::-webkit-scrollbar {
  display: none;
}
.slide-image {
  flex: 0 0 auto;
  height: 100%;
  margin-right: 5%;
}
.slide-image img {
  height: 95%;
}

/* DESKTOP VIEW */

@media only screen and (min-width:500px) {
  .slideshow {
    height: 600px;
  }
}

/* MOBILE VIEW */

@media only screen and (max-width:500px) {
  .slideshow {
    height: 400px;
  }
}
